<div id="<%= dom_id user_file %>" class="my-custom-div">
  <a href="<%= edit_user_file_url(user_file) %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><%= user_file.name %></div>
    </div>
    <small class="badge bg-secondary rounded-pill"><%= user_file.created_at.strftime("%d/%m/%Y") %></small>
  </a>
</div>