<%= link_to new_line_translation_review_path(line_translation), class: "list-group-item list-group-item-action py-3" do %>

  <div class="d-flex w-100 justify-content-between ">
    <%= line_translation.original_text.truncate(100) %>

    <%= line_translation.file_translation.original_file.name %>
    <% if line_translation.reviewed %>
      <% if line_translation.approved %>
        <span class="badge rounded-pill bg-primary">Aprovado</span>
      <% else %>
        <span class="badge rounded-pill bg-secondary">Reprovado</span>
      <% end %>
    <% end %>
  </div>

  <small><%= line_translation.translated_text&.truncate(100) %></small>

<% end %>
