<h1>Editing example</h1>

<%= render "form", line_translation: @line_translation %>

<br>

<div>
  <%= link_to "Show this example", @line_translation %> |
  <%= link_to "Back to examples", examples_path %>
</div>
