<%= link_to new_example_review_path(example), class: "list-group-item list-group-item-action d-flex justify-content-between p-4" do %>
  <%= example.original.truncate(100) %>

  <% if example.approved %>
    <span class="badge rounded-pill bg-primary">Aprovado</span>
  <% else %>
    <span class="badge rounded-pill bg-secondary">Reprovado</span>
  <% end %>

<% end %>
