<%= link_to new_example_review_path(example), class: "list-group-item list-group-item-action py-3" do %>

  <div class="d-flex w-100 justify-content-between ">
    <%= example.original.truncate(100) %>

    <% if example.reviewed %>
      <% if example.approved %>
        <span class="badge rounded-pill bg-primary">Aprovado</span>
      <% else %>
        <span class="badge rounded-pill bg-secondary">Reprovado</span>
      <% end %>
    <% end %>
  </div>

  <small><%= example.translation.truncate(100) %></small>

<% end %>
