certifi==2023.5.7
charset-normalizer==3.1.0
elastic-transport==8.4.0
elasticsearch==8.8.0
elasticsearch-dsl==8.9.0
idna==3.4
numpy==1.26.0
panda==0.3.1
pandas==2.1.1
praw==7.7.1
prawcore==2.3.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
tzdata==2023.3
update-checker==0.18.0
urllib3==1.26.16
websocket-client==1.6.0
Flask
