.sidenav {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--primary-blue);
  color: var(--text-light);
}

mat-nav-list a.mat-list-item {
  display: flex;
  text-decoration: none;
  color: var(--text-light) !important;
}

mat-nav-list a.mat-list-item:hover {
  background-color: var(--secondary-blue-1);
}

mat-nav-list a.mat-list-item span {
  color: var(--text-light) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

mat-icon {
  margin-right: 8px;
  color: var(--text-light);
}

.active {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  color: var(--text-light) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.mat-mdc-list-item {
  color: var(--text-light) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

::ng-deep .mdc-list-item__primary-text {
  color: var(--text-light) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

::ng-deep .mat-mdc-list-item .mdc-list-item__primary-text {
  color: var(--text-light) !important;
  opacity: 1 !important;
  visibility: visible !important;
}
