.link-clean {
    text-decoration: none;
    color: #ffff;
}

/* Ensure navbar brand and nav links are the same color */
.navbar-brand, .nav-link {
    color: #ffff !important;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar-brand:hover, .nav-link:hover {
    color: #f8f9fa !important; /* Example of a hover effect */
    background-color: #3AA8C1;
    border-radius: 5px;
}

.navbar {
    background-color: #007BA7; /* Fundo cinza claro */
    padding: 10px 20px;
    border-radius: 0; 
    margin: 0 10px;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #007BA7; 
    color: #ffff; 
}

nav {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav > span {
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav > span:hover {
    background-color: #f0f0f0;
}

nav > span > a.active,
nav > span > a:focus {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    outline: none; 
}

.csv {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff; 
    border: 1px solid #e0e0e0; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.csv h4 {
    font-size: 20px; 
    color: #000000; 
    margin-bottom: 15px; 
}

.csv h3 {
    font-size: 16px; 
    color: #000000; 
    margin-top: 20px; 
    margin-bottom: 10px; 
}

.csv ul {
    list-style-type: none; 
    padding: 0;
}

.csv ul li {
    margin-bottom: 10px; 
    font-size: 14px; 
    line-height: 1.6; 
    color: #666666; 
}

.csv ul li:last-child {
    margin-bottom: 0; 
}

.csv ul li:hover {
    background-color: #f5f5f5; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
}

.title-small {
    font-size: 2rem;
    font-weight: normal; 
    line-height: 1.2; 
}

.my-custom-div {
    padding: 5px; 
    margin-bottom: 5px; 
}

.file-container {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.file-info {
    flex: 1;
}
  
.file-action {
    margin-left: 10px;
}
  
.btn-primary {
    padding: 5px 10px;
    font-size: 14px;
}
  
.navbar-brand.link-clean {
    text-decoration: none; 
    color: #fff !important; 
}
  
.navbar-brand.link-clean:hover,
.navbar-brand.link-clean:focus,
.navbar-brand.link-clean:active {
    text-decoration: none; 
    color: #fff !important; 
    background-color: transparent !important; 
    outline: none; 
}
  
  
.navbar-nav .nav-link {
    color: #fff !important;
}
  
.navbar-nav .nav-link:hover {
    color: #f8f9fa !important; 
    background-color: #3AA8C1; 
    border-radius: 5px; 
}

