<h1>Editing file translation</h1>

<%= render "form", file_translation: @file_translation %>

<br>

<div>
  <%= link_to "Show this file translation", @file_translation %> |
  <%= link_to "Back to file translations", file_translations_path %>
</div>
