<link 
<%= render 'shared/notice' %>

<% content_for :title, t('File Translation Jobs') %>


<div class="row">
  <div class="col">
    <div id="user_files" class="p-3">
      <div class="list-group">
        <% @file_translations.each do |file_translation| %>
          <div class="list-group-item mb-3 border-0">
            <%= render file_translation %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


