<% content_for :title do %>
  <span class="title-small"><%= t('Collection Translated') %></span>
<% end %>
<% content_for :actions do %>
  <%= link_to t('Cancel'), file_translations_path, class: 'btn btn-danger mx-1' %>

<% end %>


<%= render "form", file_translation: @file_translation %>
