<%= render 'shared/notice' %>

<% content_for :title, t('File Translation') %>
<% content_for :actions do %>
  <%= link_to t('Back to list'), file_translations_path, class: 'btn btn-secondary' %>
<% end %>

<div class="row">
  <div class="col">
    <%= render "form", file_translation: @file_translation %>
  </div>
</div>